$white: #FFFFFF;
$green: #819C92;
$yellow: #F8D848;
$grey: #333333;
$ltgrey: #999999;

html, body {
  font-family: Trebuchet;
  min-height: 100%;
}

*  {
  margin: 0;
  padding: 0;
}

.navbar {
  color: $grey;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  position: relative;
  li {
    display: inline;
    padding-right: 20px;
  }
  a, a:visited {
    text-decoration: none;
    list-style-type: none;
    color: $grey
  }
  a:hover {
    color: $ltgrey;
    transition: .2s;
  }
 .logo {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
  }
}

footer{
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
  background: $grey;
  height: auto;
  width: auto;
  padding: .5%;
  ul {
    text-decoration: none;
    list-style-type: none;
    color: $white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .5%;
    li {
      width: auto;
      display: flex;
      justify-content: center;
      padding-left: 1.5%;
      padding-right: 1.5%;
    }
  }
  .logo {
    display: flex;
    justify-content: center;
    padding: .5%;
  }
  .divider {
    width: 95%;
    margin: .5%;
  }
  .socials {
    color: $white;
  }
  a, li, li:visited {
    text-decoration: none;
    list-style-type: none;
    color: $white
  }
  a:hover, li:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}


.home-container {
  position:relative;
  img {
    width: 100%;
    height: auto;
    object-fit: scale-down;
    object-position: 100% 0;
    position:inherit;
    }
  .color-box {
    width: 60%;
    height: 2000px;
    background-color: $green;
  }
}






















