$white: #FFFFFF;
$green: #819C92;
$yellow: #F8D848;
$grey: #353431;


.navbar {
  color: $grey;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  position: relative;
  ul {
    margin: 0;
    padding: 0;
    justify-self: flex-start;
  }
  li {
    display: inline;
    padding-right: 20px;
  }
  .search a {
    padding-left: 20px;
  }
  a, a:visited {
    text-decoration: none;
    list-style-type: none;
    color: $grey
  }
  a:hover {
    color: $green
  }
 .logo a {
      position:absolute;
      left:50%;
      top:50%;
      transform:translate(-50%, -50%);
  }

}




// .navbar * {
// }

// .navbar {
//   display: flex;
//   align-items: center;
//   flex-direction: row;
// }

// .navlinks {
//   display: flex;
//   flex-direction: row;
// }

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: $grey;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: $grey;
}















// .navlinks a, .search a, .logo a {
//   list-style-type: none;
//   color: $grey;
//   text-decoration: none;
// }










